body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

ul {
    list-style: none;
}








/* VISIBILITY & STYLE */
.search_container {
    border: 1px solid #000;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 75px;
    margin: 10px;
    width: fit-content;
    height: fit-content;
}

.current_container {
    display: none;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    width: auto;
    height: fit-content;
}

.future_container {
    display: none;
    border: 1px solid #000;
    margin: 10px;
    width: auto;
    height: fit-content;
    flex-wrap: wrap;
}

#future_title {
    margin: 10px;
}


#search_history {
    display: flex;
    flex-direction: column;
    width: 15rem;
}

.days {
    display: flex;
    flex-direction: row;
}

#day1_container,
#day2_container,
#day3_container,
#day4_container,
#day5_container {
    border: 1px solid #000;
    margin: 1rem;
    padding-right: 20px;
}

#location_name,
#day1_location_name,
#day2_location_name,
#day3_location_name,
#day4_location_name,
#day5_location_name {
    margin: 10px;
    font-size: auto;
}