body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

ul {
    list-style: none;
}

/* Visiblity */
.current_container,
.future_container {
    display: none;
}

/* STYLE */
.search_container,
.current_container,
.future_container {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
}

#search_history {
    display: flex;
    flex-direction: column;
}

#day1_container,
#day2_container,
#day3_container,
#day4_container,
#day5_container {
    border: 1px solid #000;
    margin: 20px;
}